/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  cursor: pointer;
  margin-top: 4px;
  position: relative;
  pointer-events: all;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  cursor: pointer;
  margin-top: 4px;
  position: relative;
  pointer-events: all;
}
