/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #faf5f7;
  box-shadow: 0 0 1px 1px #ced4da;
  border: none;
  -webkit-appearance: none;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all;
  position: relative;
  height: 18px;
  width: 18px;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #faf5f7;
  box-shadow: 0 0 1px 1px #ced4da;
  border: none;
  border-radius: 50%;
  pointer-events: all;
  cursor: pointer;
  height: 18px;
  width: 18px;
}
